<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, blanditiis? Enim, similique eos mollitia dolorem tempore necessitatibus laboriosam alias debitis distinctio labore. Ipsum pariatur, debitis autem minima culpa temporibus eius?</p>

<div class="hire1"><table class="hire">
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Department</th>
    </tr>
    <tr *ngFor="let item of student">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.department}}</td>
    
    </tr>

</table>

</div>
<button >hello</button>

