<!-- radio Button -->
<!-- 
<div class="card flex justify-content-center">
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
            <label for="ingredient1" class="ml-2">Cheese</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
            <label for="ingredient2" class="ml-2">Mushroom</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3"></p-radioButton>
            <label for="ingredient3" class="ml-2">Pepper</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4"></p-radioButton>
            <label for="ingredient4" class="ml-2">Onion</label>
        </div>
    </div>
</div>  -->
<!-- Tooltip  -->
 <!-- <div class="card flex justify-content-center">
    <input type="text" pInputText  pTooltip="Enter Your Name" placeholder="hover to display tooltip">
</div> -->





<!-- -------  show profile details --------------- -->
 <!-- <div class="card flex justify-content-center">
    <p-overlayPanel #op>
        <div class="container">
           <div class="profile">
                <p class="profileicon">M</p>
           </div>
           <div class="p-details">
            <p class="name">Mukesh</p>
            <p class="role">Junior Associate- Full Stack</p>
            <p class="email">Mukesh@gmail.com</p>
            <p  class="Editprofile"><span (click)="op.toggle($event);sidebarVisible1()">Edit profile</span></p>
           </div>
        </div>
    </p-overlayPanel>
    <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>
</div>  -->




<!-- -----------------edit profile in form--------------- -->
 <!-- <div class="container">
    <p class="header">My Profile</p>
    <div class="uploadphoto">
        <p class="profileicon">M</p>
        <div class="upload">
            <img src="../../assets/Upload.svg" class="uploadicon">
            <a href="" class="uploadtext">Upload photo</a>
        </div>
    </div>
<div class="form">
    <div class="details" [formGroup]="editform">
            <div class="name">
               <label for="Name" class="labelName">Name</label>
                <input type="text" class="inputField login-field" placeholder="Enter your Name" pInputText   formControlName="name"/>
            </div>
            <div class="designation">
               <label for="designation" class="labelName">Designation</label>
                <input type="text" class="inputField login-field" placeholder="Enter your Designation" pInputText   formControlName="name"/>
            </div>
            <div class="email">
                <label for="email" class="labelName">Email</label>
                <p class="emailtext">Mukesh@gmail.com</p>
             </div>
             <div class="footer">
             <button class="cancel" (click)="Cancel()">Cancel</button>
             <button class="save" (click)="save()">Save</button>
             </div>

    </div>
</div> 
 -->




<!-- -----------------edit profile using sidebar--------------- -->

 <!-- <div>
    <p-sidebar [(visible)]="sidebarVisible" position="right">
      <div class="container">
        <p class="header">My Profile</p>
        <div class="uploadphoto">
          <p class="profileicon">M</p>
          <div class="upload">
            <img src="../../assets/Upload.svg" class="uploadicon">
            <a href="" class="uploadtext">Upload photo</a>
          </div>
        </div>
        <div class="form">
          <div class="details" [formGroup]="editform">
            <div class="name">
              <label for="Name" class="labelName">Name</label>
              <input type="text" class="inputField login-field" placeholder="Enter your Name" pInputText formControlName="name" />
            </div>
            <div class="designation">
              <label for="designation" class="labelName">Designation</label>
              <input type="text" class="inputField login-field" placeholder="Enter your Designation" pInputText formControlName="designation" />
            </div>
            <div class="email">
              <label for="email" class="labelName">Email</label>
              <p class="emailtext">Mukesh@gmail.com</p>
            </div>
          </div>
        </div>
          </div>
          <ng-container >
            <ng-template pTemplate="footer">
                <div class="footer">
                    <button class="cancel" (click)="Cancel()">Cancel</button>
                    <button class="save" (click)="save()">Save</button>
                  </div>
            </ng-template>
        </ng-container>
    </p-sidebar>
  </div> -->
  


  <!-- table binding -->

<!-- app.component.html -->

 <!-- <form [formGroup]="userForm">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName">

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName">

  <label for="age">Age:</label>
  <input type="number" id="age" formControlName="age">

  <label for="department">Department:</label>
  <input type="text" id="department" formControlName="department">

  <label for="gender">Gender:</label>
  <select id="gender" formControlName="gender">
    <option value="" disabled>Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select> -->
  <!-- <input type="text" id="gender" formControlName="gender"> -->

  <!-- <label for="mobileNumber">MobileNumber</label>
  <input type="text" id="mobileNumber" formControlName="mobileNumber">

  <button type="submit" (click)="createEmp()">Submit</button>
</form> -->
 <div class="card">
  <p-table [value]="alldetails" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>firstName</th>                	
              <th>lastName</th>
              <th>age</th>
              <th>department</th>
              <th>Gender</th>
              <th>MobileNumber</th>
              <th>Edit</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr [ngClass]="{'row-accessories': product.category === 'Accessories'}">
              <td>{{product.firstName}}</td>
              <td>{{product.lastName}}</td>
              <td>{{product.age}}</td>
              <td>{{product.department}}</td>
              <td>{{product.gender}}</td>
              <td>{{product.mobileNumber}}</td>
              <td><button (click)="editEmp(product.employeeID)">Edit</button></td>
              <td>
                  <div [ngClass]="{'outofstock': product.quantity === 0, 'lowstock': (product.quantity > 0 && product.quantity < 10),'instock': product.quantity > 10}">
                      {{product.quantity}}
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>


</div>



