<!-- <div class="card flex justify-content-center">
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
            <label for="ingredient1" class="ml-2">Cheese</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
            <label for="ingredient2" class="ml-2">Mushroom</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3"></p-radioButton>
            <label for="ingredient3" class="ml-2">Pepper</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4"></p-radioButton>
            <label for="ingredient4" class="ml-2">Onion</label>
        </div>
    </div>
</div> 
 -->
<!-- <div class="card flex justify-content-center">
    <input type="text" pInputText pTooltip="Enter your username" placeholder="hover to display tooltip">
</div> -->





<!-- --------profile--------------- -->
    <div class="card flex justify-content-center">
    <p-overlayPanel #op>
        <div class="container">
           <div class="profile">
                <p class="profileicon">M</p>
           </div>
           <div class="p-details">
            <p class="name">Mukesh</p>
            <p class="role">Junior Associate- Full Stack</p>
            <p class="email">Mukesh@gmail.com</p>
            <p  class="Editprofile"><a href="">Edit profile</a></p>
           </div>
        </div>
    </p-overlayPanel>
    <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>
</div> 




<!-- -----------------edit profile--------------- -->
<!-- <div class="container">
    <p class="header">My Profile</p>
    <div class="uploadphoto">
        <p class="profileicon">M</p>
        <div class="upload">
            <img src="../../assets/Upload.svg" class="uploadicon">
            <a href="" class="uploadtext">Upload photo</a>
        </div>
    </div>
<div class="form">
    <div class="details" [formGroup]="editform">
            <div class="name">
               <label for="Name" class="labelName">Name</label>
                <input type="text" class="inputField login-field" placeholder="Enter your Name" pInputText   formControlName="name"/>
            </div>
            <div class="designation">
               <label for="designation" class="labelName">Designation</label>
                <input type="text" class="inputField login-field" placeholder="Enter your Designation" pInputText   formControlName="name"/>
            </div>
            <div class="email">
                <label for="email" class="labelName">Email</label>
                <p class="emailtext">Mukesh@gmail.com</p>
             </div>
             <div class="footer">
             <button class="cancel" (click)="Cancel()">Cancel</button>
             <button class="save" (click)="save()">Save</button>
             </div>

    </div>
</div> -->





<!-- -----------------edit profile using sidebar--------------- -->
<!-- 
<p-button type="button" class="mr-2" (click)="sidebarVisible = true" icon="pi pi-arrow-right" styleClass="w-40rem"></p-button>
<div>
    <p-sidebar [(visible)]="sidebarVisible" position="right">
      <div class="container">
        <p class="header">My Profile</p>
        <div class="uploadphoto">
          <p class="profileicon">M</p>
          <div class="upload">
            <img src="../../assets/Upload.svg" class="uploadicon">
            <a href="" class="uploadtext">Upload photo</a>
          </div>
        </div>
        <div class="form">
          <div class="details" [formGroup]="editform">
            <div class="name">
              <label for="Name" class="labelName">Name</label>
              <input type="text" class="inputField login-field" placeholder="Enter your Name" pInputText formControlName="name" />
            </div>
            <div class="designation">
              <label for="designation" class="labelName">Designation</label>
              <input type="text" class="inputField login-field" placeholder="Enter your Designation" pInputText formControlName="designation" />
            </div>
            <div class="email">
              <label for="email" class="labelName">Email</label>
              <p class="emailtext">Mukesh@gmail.com</p>
            </div>
          </div>
        </div>
          </div>
          <ng-container >
            <ng-template pTemplate="footer">
                <div class="footer">
                    <button class="cancel" (click)="Cancel()">Cancel</button>
                    <button class="save" (click)="save()">Save</button>
                  </div>
            </ng-template>
        </ng-container>
    </p-sidebar>
  </div> -->
  



