nav{
    // border: 2px solid red;
    display: flex;
    margin-top: 3px;
    padding: 0px;
    background: white;
    // position: fixed;
    font-family: 'Inter', sans-serif;
    .logo{
        display: flex;
        padding: 7px;
        margin: 10px 5px;
        svg{
            color: rgb(138, 36, 255);
            margin: 0px 7px;
            
            
        }

        h1{
            color: rgb(20, 60, 244);
            font-size: 20px;
            font-weight: bold;
            margin-left: 2px;
            margin-top: 10px;
            letter-spacing: 1px;
            
        }
        
    }
    
    ul{
        display: flex;
        justify-content: flex-end; /* Align content to the right */
        align-items: center; /* Vertically center content within the container */
        flex: 1; 
        margin-right: 30px;
        margin-top:1%;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.76);
            li{
                margin: 0 18px;
                list-style: none;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
            }
        }
        input{
            padding: 6px 12px;
            font-size: 16px;
            // color: white;
            background: rgb(20, 60, 244);
            color: rgb(255, 255, 255);
            box-shadow: rgb(20, 60, 244) 0px 10px 20px -10px;
            font-weight: bold;
            border-radius: 100px;
            border: none;
            padding: 6px 20px;
            border-radius: 999px;
            width: -moz-fit-content;
            width: fit-content;
            margin: 10px 0;
            font-weight: 700;
            height: 35px;
        }
    }
}
.team
{
    font-family: "Inter", sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border;
h1{
    font-weight: 800;
    color:rgb(0,0,0);
    font-size: 36px;
    margin-top: 50px;
}  
h2{
    color: rgb(40,42,48);
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}
}
.detalis
{
    font-family: "Inter", sans-serif;
    justify-content: center;
    margin-top: 20px;
    text-align: left;
h3{
    color: rgb(107,111,118);
    font-size: 13px;
    font-weight: 700;
    margin-left: 280px;
}
p:nth-child(2)
{
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight: 400;
    margin-left: 280px;
    line-height: 24px;
}
p:nth-child(n)
{
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight: 400;
    margin-left: 280px;
    line-height: 26px;
}
a.team_link:hover {
    text-decoration: underline;
    color: rgb(94, 93, 240);
    cursor: pointer;
  }
a.team_link {
    text-decoration: none;
    color: rgb(94, 93, 240);
    font-size: 16px;
    font-weight: 400;
  }
.detalis:nth-child(4) {
    color: rgb(107,111,118);
    font-size: 13px;
    font-weight: 700;
}
h5{
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight: 400;
    margin-left: 280px;
    line-height: 24px;

}
.bx bxl-twitter
{
    font-size: 700px;
    color: pink;
}
.twitter_btn{
    border-radius: 966px;
    background: rgb(94, 93, 240);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-left:280px;   
    padding: 12px 20px 12px 20px;
    width: fit-content;
    margin-top: 10px;
    // align-items: center;
   
}
.Linkedin_btn
{
    border-radius: 966px;
    background: rgb(94, 93, 240);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-left:280px; 
    margin-top: 15px;  
    padding: 12px 20px 12px 20px;
    width: fit-content;
}
#icon
{
position: relative;
top: 6px;
}

}