
.container
{
    display: flex;
    background-color:lightblue;
    padding: 20px;
    outline: 20px;
    margin: 10px 10px;
}
p
{
    text-align: center;
    padding: 20px;
    background-color: indianred;
    height: 40px;
    width: 150px;
    margin: 50px;
    font-size: 30px;
}
.h1
{
    color:#000;
    
}
.flex-row
{
    flex-direction: row;
}
.flex-col
{
    flex-direction: column;
}
.flex-row-rev{
    flex-direction: row-reverse;
}
.flex-col-rev
{
    flex-direction: column-reverse;
}
.flex-wrap
{
    flex-wrap:wrap;
}
.flex-no-wrap
{
    flex-wrap: nowrap;
}
.flex-wrap-rev
{
    flex-wrap: wrap-reverse;
}
/*  flex-direction and flex-wrap properties using flex flow*/
.flex-flow
{
    flex-flow:row;
}
.flex-start
{
    justify-content: flex-start;
}
.flex-end
{
    justify-content: flex-end;
}
.flex-center
{
    justify-content: flex-center;
}
.space-between
{
    justify-content: space-between;
}
.space-around
{
    justify-content: space-around;
}
.space-evenly
{
    justify-content: space-evenly;
}