
.container
{
    display: flex;
    background-color:lightblue;
    padding: 20px;
    outline-color: rgb(241, 226, 5);
    outline-style: dashed;
    margin: 10px 10px;
}
p
{
    text-align: center;
    padding: 20px;
    background-color: indianred;
    height: 40px;
    width: 150px;
    margin: 50px;
    font-size: 30px;
}
.h1
{
    color:#000;
    
}
.flex-row
{
    flex-direction: row;
}
.flex-col
{
    flex-direction: column;
}
.flex-row-rev{
    flex-direction: row-reverse;
}
.flex-col-rev
{
    flex-direction: column-reverse;
}
.flex-wrap
{
    flex-wrap:wrap;
}
.flex-no-wrap
{
    flex-wrap: nowrap;
}
.flex-wrap-rev
{
    flex-wrap: wrap-reverse;
}
/*  flex-direction and flex-wrap properties using flex flow*/
.flex-flow
{
    flex-flow:row;
}
.flex-start
{
    justify-content: flex-start;
    color: ;
}
.flex-end
{
    justify-content: flex-end;
}
.flex-center
{
    justify-content: flex-center;
}
.space-between
{
    justify-content: space-between;
}
.space-around
{
    justify-content: space-around;
}
.space-evenly
{
    justify-content: space-evenly;
}
.start
{
    align-items: flex-start;
}
.end
{
    align-items: flex-end;
}
.center
{
    align-items: center;
}
.stretch
{
    
    align-items:stretch;
}
.baseline
{
    align-items:  baseline;
}
#base
{
    font-size :50px;
    text-align: left;
}
.aspace-between
{
    align-content: space-between;
}
#astretch
{
    width: 10px;
    align-content: stretch;
}
.acenter
{
    align-content: center;
}
.astart
{
    align-content: start;
}
.aend
{
    align-content: end;
}
.gap
{
    display: flex;
    /* gap = 10px 20px To assign 10px is row and 20px is column*/
    gap: 10px 20px;
    background-color:lightblue;
    padding: 20px;
    outline-color: rgb(241, 226, 5);
    outline-style: dashed;
    margin: 10px 10px;
}
.ord2{
    order: -1;
}
.ord1{
    order:3;
}
.ord3{
    order: -2;
}
.ord4{
    order:1;
} 
.grow2{
    flex-grow: 5;
}
/* .grow1{
    order:3;
}
.grow3{
    order: -2;
}
.grow4{
    order:1;
} */ 
.shrink1
{
    flex-shrink: 3;
}
.shrink2
{
    flex-shrink: 2;
}
.shrink3
{
    flex-shrink: 1;
}
.shrink4
{
    flex-shrink: 4;
}
.shrink5
{
    flex-shrink: 5;
}


