<!-- property bindings-->
<!-- <input type="number"[value]='a'>
<p>mycom works!</p> -->
 
 <!-- Event bindings 
<input type="number"[value]='a'>
<p>mycom works!</p>
 <button (click)="myFun()">Sumbit</button>  -->

<!-- Ng Module-->
<input type="number"[(ngModel)]="a"#in>
<button (click)="myFun(a)">Sumbit</button> 

<!-- ngIF -->
<!-- <p *ngIf="m">Lorem ipsum dolor sit amet consectetur </p> -->
 <!-- ngIF-Else  using true or flase and assign variable true or False->
<p *ngIf="false;else text">Lorem ipsum dolor sit amet consectetur 
</p>
<ng-template #text>Alternate</ng-template>
<p></p>
<div class="col">hello</div> -->
<!-- Ng For using array -->
<p *ngFor="let b of b">{{b}}</p> 
<!-- 
<i class="pi pi-check" style="font-size: 1rem">correct</i>
<i class="pi pi-times" style="font-size: 1.5rem">Incorrect</i>
<i class="pi pi-search" style="font-size: 2rem">Search</i>
<i class="pi pi-user" style="font-size: 2.5rem">Profile</i>
<i class="pi pi-spin" style="font-size: 2rem">hello</i>
<i class="pi pi-spin pi-cog" style="font-size: 2rem">Settings</i> -->

