.heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    margin: 50px;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100px;
  }
/*   
  .heart::before {
    top: -50px;
    left: 0;
  }
  
  .heart::after {
    top: 0;
    left: 50px;
  } */
  
  