<!-- virtual Scroll using primeng -->
<!-- <div class="card flex justify-content-center">
    <p-virtualScroller [value]="items" class="border-1 surface-border border-round" [style]="{ width: '200px' }" scrollHeight="200px" [itemSize]="50">
        <ng-template pTemplate="header">Header Content</ng-template>
        <ng-template pTemplate="item" let-item>
            <div class="flex align-items-center p-2 h-full" [ngClass]="{ 'surface-hover': item.index % 2 === 0 }">
                {{ item.label }}
            </div>
        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-virtualScroller>
</div> -->

<!-- Normal Table -->

<div class="card">
    
    <p-table [value]="alldetails" scrollHeight="200px" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [virtualScroll]="true" [totalRecords]="20" [virtualScrollDelay]="200" [virtualScrollItemSize]="20" >
        <ng-template pTemplate="header">
            <tr>
                <th>EmployeeID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Department</th>
                <th>MobileNumber</th>
                <th>Gender</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.EmployeeID }}</td>
                <td>{{ product.FirstName }}</td>
                <td>{{ product.LastName }}</td>
                <td>{{ product.Age }}</td>
                <td>{{ product.Department }}</td>
                <td>{{ product.MobileNumber }}</td>
                <td>{{ product.Gender }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>