<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<div class="contact">
    <h1>Contact</h1>
    <h3>Happy to answer any queries you may have about Questgen.</h3>
    <h3>Feel free to use the form or write to<span> ramsri@questgen.ai</span></h3>
    <div class="contact_field">
    <label class="email">Email</label><br>
    <input type="text"  class="input_field" placeholder="jason@example.com">
    <label class="Leave_message">Leave a message</label><br>
    <textarea class="Comment" rows="5" cols="33" placeholder="Enter Your Text"></textarea>  
    <button class="sumbit">Submit</button>  
</div>
</div>
