nav{
    // border: 2px solid red;
    display: flex;
    margin-top: 3px;
    padding: 0px;
    background: white;
    // position: fixed;
    font-family: 'Inter', sans-serif;
    .logo{
        display: flex;
        padding: 7px;
        margin: 10px 5px;
        svg{
            color: rgb(138, 36, 255);
            margin: 0px 7px;
        }
        h1{
            color: rgb(20, 60, 244);
            font-size: 20px;
            font-weight: bold;
            margin-left: 2px;
            margin-top: 10px;
            letter-spacing: 1px;
        }
    }
    ul{
        display: flex;
        justify-content: flex-end; /* Align content to the right */
        align-items: center; /* Vertically center content within the container */
        flex: 1; 
        margin-right: 30px;
        margin-top:1%;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.76);
            li{
                margin: 0 18px;
                list-style: none;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
            }
        }
        input{
            padding: 6px 12px;
            font-size: 16px;
            // color: white;
            background: rgb(20, 60, 244);
            color: rgb(255, 255, 255);
            box-shadow: rgb(20, 60, 244) 0px 10px 20px -10px;
            font-weight: bold;
            border-radius: 100px;
            border: none;
            padding: 6px 20px;
            border-radius: 999px;
            width: -moz-fit-content;
            width: fit-content;
            margin: 10px 0;
            font-weight: 700;
            height: 35px;
        }
    }
}
.contact
{
    font-family: "Inter",sans-serif;
    text-align: center;
    background-color: #fff;

h1{
    color: rgb(0,0,0);
    font-size: 36px;
    font-weight:800;
    margin-top:80px;
}
h3
{
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight:400;
    margin-top: 18px;
}
span{
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight:700;
}
}
.contact_field
{
    font-size: 14px;
    color: rgb(135,134,131);
    font-weight: 400;
    text-align: left; 
.email
{
    margin-left:390px;
    color: rgb(135,134,131 );
    font-size: 14px;
    margin-top: 18px;
}
.input_field
{
    margin-top: 5px;
    margin-left: 390px;
    cursor: text;
    height: 44px;
    width: 480px;
    border: 1px solid #ccc;
    outline: none;
}
.Leave_message
{
    margin-left:390px;
    color: rgb(135,134,131 );
    font-size: 14px;
    margin-top:10px;
}
.Comment
{
    height: 92px;
    width: 480px;
    margin-left:390px;
    margin-top:8px;
    color: rgb(135,134,131 );
    cursor: text;
    border: 1px solid #ccc;
    background-color: rgb(249, 249,250);
    outline: none;
}
.sumbit
{
    color: rgb(82,156,202);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    height: 44px;
    padding: 0px 16px 0px 16px;
    outline-color:rgb(82,156,202) ;
    border: none;
    margin-left:388px;
    margin-top: 8px;
    background-color: rgb(246,249,251);
    min-width: 152px;
    border: 1px solid rgb(211,228,249);
   

}
}   



