.pricing {
    font-family: "Inter", sans-serif;
    padding: 13px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border;
  }
  
  h2 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-top: 53px;
    letter-spacing: -1px;
  }
  
  a.Basic_link:hover {
    text-decoration: underline;
    color: rgb(94, 93, 240);
    cursor: pointer;
  }
  
  a.Basic_link {
    text-decoration: none;
    color: rgb(94, 93, 240);
    font-size: 16px;
    font-weight: 400;
  }
  
  p:nth-child(2) {
    font-weight: 400;
    color: rgb(107, 111, 118);
    font-size: 20px;
    line-height: -1px;
  }
  
  p:nth-child(3) {
    font-weight: 400;
    color: rgb(40, 42, 48);
    font-size: 16px;
  }
  
  .card {
    font-family: "Inter", sans-serif;
    flex-direction: row;
    justify-content: center;
    line-height: 24px;
    border: none;
  }
  .card .Basic {
    width: 385px;
    height: 384px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px 0px;
    margin-left: 288px;
  }
  .card .Basic h3:nth-child(1) {
    color: rgb(94, 93, 240);
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
  }
  .card .Basic h3:nth-child(2) {
    color: rgb(40, 42, 48);
    font-size: 19.2px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
  }
  .card .Basic h4:nth-child(3) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 31px;
  }
  .card .Basic h4:nth-child(4) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
  }
  .card .Basic h4:nth-child(5) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
  }
  .card .Basic_btn {
    border-radius: 966px;
    background: rgb(94, 93, 240);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-top: 40px;
    padding: 12px 20px 12px 20px;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
  }
  .card .Pro {
    width: 385px;
    height: 416px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px 0px;
    margin-right: 290px;
    text-align: center;
  }
  .card .Pro h3:nth-child(1) {
    color: rgb(94, 93, 240);
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
  }
  .card .Pro h3:nth-child(2) {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 19.2px;
  }
  .card .Pro h4:nth-child(3) {
    color: rgb(40, 42, 48);
    font-size: 16px;
    font-weight: 700;
  }
  .card .Pro h4:nth-child(4) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 13px;
  }
  .card .Pro h4:nth-child(5) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    margin-right: 120px;
  }
  .card .Pro h4:nth-child(5) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    margin-right: 120px;
  }
  .card .Pro h4:nth-child(5) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    margin-right: 199px;
    margin-top: 37px;
  }
  .card .Pro h4:nth-child(6) {
    color: rgb(107, 111, 118);
    font-size: 16px;
    font-weight: 400;
    margin-right: 94px;
  }
  .card .Pro_btn {
    border-radius: 966px;
    background: rgb(94, 93, 240);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-top: 30px;
    padding: 12px 20px 12px 20px;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
  }
  .card a.Pro_link:hover {
    text-decoration: underline;
    color: rgb(94, 93, 240);
    cursor: pointer;
  }
  .card a.Pro_link {
    text-decoration: none;
    color: rgb(94, 93, 240);
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px;
  }